.hero {
    background-image: url("../images/header-background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero__inner {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20vh 26px 50px;
    background-color: rgba(1, 38, 46, 0.7);
}

.hero__title {
    margin: 0 0 10px;
    color: var(--light);
    font-size: 20px;
    letter-spacing: 1px;
}

.hero__description {
    color: var(--light);
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@media (max-height: 420px) and (orientation: landscape) {
    .hero__inner {
        padding: 30vh 26px 50px;
    }
    
    .hero__title {
        margin: 20px 0 10px;
    }
}

@media (min-width: 600px) {
    .hero__title {
        font-size: 30px;
    }

    .hero__description {
        font-size: 20px;
    }
}

@media (min-width: 768px) and (orientation: portrait) {
    .hero__inner{
        padding: 10vh 60px 50px;
    }

    .hero__title {
        margin: 50px 0 16px;
        font-size: 34px;
    }

    .hero__description {
        font-size: 22px;
    }
}

@media (min-width: 1024px) {
    .hero__inner{
        padding: 0 120px
    }
    .hero__title {
        margin: 120px 0 16px;
        font-size: 36px;
        letter-spacing: 2px;
    }
    .hero__description {
        font-size: 24px;
    }
}

@media (min-width: 1280px) {
    .hero__inner{
        padding: 0 180px
    }
}

@media (min-width: 1440px) {
    .hero__inner {
        padding: 0 240px
    }
}

/* header links */

.hero__btn {
    position: relative;
    margin: 30px 0 40px;
    font-weight: bold;
    border: 2px solid #fff;
    background-color: rgba(1, 135, 145, 0.5);
    color: #fff;
    transition: all .3s;
    z-index: 999;
}

.btn__icon {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    font-size: 2em;
    color: #fff;
    transition: transform .3s linear, opacity .2s linear;
    z-index: 999;
    opacity: 0;
}

.hero__btn:hover, .hero__btn:focus {
    background-color: #fff;
    color: var(--primary-color);
}

.hero__btn:hover .btn__icon {
    transform: translate(-50%, 0);
    opacity: 1;
    transition: transform .3s linear, opacity .2s .1s linear;
}

.hero__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.hero__link {
    position: relative;
    margin: 6px;
    border-bottom: 2px solid #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: var(--light);
    transition: background-color .1s 0s linear;
}

.hero__link::before,.hero__link::after {
    content: '';
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: var(--primary-color);
    transform: scaleX(0);
}

.hero__link::before {
    bottom: -2px;
    left: 0;
    transform-origin: left;
    transition: transform .2s .1s linear;
}

.hero__link::after {
    top: -2px;
    right: 0;
    transform-origin: right;
    transition: transform .2s .1s linear;
}

.hero__link:hover, .hero__link:focus {
    background-color: var(--primary-color);
    transition: background-color .2s .2s linear;
}

.hero__link:hover::before, .hero__link:focus::before {
    transform: scaleX(1);
    transition: transform .2s linear;
}

.hero__link:hover::after, .hero__link:focus::after {
    transform: scaleX(1);
    transition: transform .2s linear;
    
}

@media (min-width: 768px) {
    .hero__btn {
        margin: 40px 0;
        font-size: 18px;
    }
    .hero__links {
        flex-direction: row;
        justify-content: center;
    }
    
    .hero__link {
        font-size: 16px;
        text-align: center;
    }
}

@media (min-width: 1024px) {
    .hero__btn {
        letter-spacing: 2px;
    }

    .hero__links {
        align-items: flex-end;
        flex-direction: column;
    }
}
