.hero {
    background-image: url("../images/header-background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero__inner {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20vh 26px 50px;
    background-color: rgba(1, 38, 46, 0.7);
}

.hero__title {
    margin: 0 0 10px;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
}

.hero__description {
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@media (max-height: 420px) and (orientation: landscape) {
    .hero__inner {
        padding: 30vh 26px 50px;
    }
    
    .hero__title {
        margin: 20px 0 10px;
    }
}

@media (min-width: 600px) {
    .hero__title {
        font-size: 30px;
    }

    .hero__description {
        font-size: 20px;
    }
}

@media (min-width: 600px) and (orientation: portrait) {
    .hero__inner{
        padding: 0 60px;
    }

    .hero__title {
        margin: 50px 0 16px;
        font-size: 34px;
    }

    .hero__description {
        font-size: 22px;
    }
}

@media (min-width: 1024px) {
    .hero__inner{
        padding: 0 120px
    }
    .hero__title {
        margin: 120px 0 16px;
        font-size: 36px;
        letter-spacing: 2px;
    }
    .hero__description {
        font-size: 24px;
    }
}

@media (min-width: 1280px) {
    .hero__inner{
        padding: 0 180px
    }
}

@media (min-width: 1440px) {
    .hero__inner {
        padding: 0 240px
    }
}

/* header links */

.hero__links {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.hero__link {
    position: relative;
    margin: 10px;
    padding: 4px 12px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    text-align: center;
    border: 2px solid #fff;
    background-color: rgba(1, 135, 145, 0.5);
    color: #fff;
}

.hero__link::before,.hero__link::after {
    content: '';
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: #fff;
    transform: scaleX(0);
}

.hero__link::before {
    bottom: 0;
    left: 0;
    transform-origin: left;
    transition: transform .2s .1s linear;
}

.hero__link::after {
    top: 0;
    right: 0;
    transform-origin: right;
    transition: transform .2s .1s linear;
}

.hero__link:hover, .hero__link:focus {
    background-color: #fff;
    color: rgb(1, 135, 145);
    transition: background-color .2s .2s linear, color .2s .2s linear;
}

.hero__link:hover::before, .hero__link:focus::before {
    transform: scaleX(1);
    transition: transform .2s linear;
}

.hero__link:hover::after, .hero__link:focus::after {
    transform: scaleX(1);
    transition: transform .2s linear;
    
}

@media (min-width: 768px) {
    .hero__links {
        flex-direction: row;
        justify-content: center;
    }
    
    .hero__link {
        padding: 6px 16px;
        font-size: 18px;
        text-align: center;
    }
}
