.navbar {
background-color: #fff;
}

.menu {
    position: relative;
}

.menu__header {
    display: flex;
    justify-content: space-between;
}

.menu__links {
   position: fixed;
   z-index: 1;
   width: 100%;
   margin: 0;
   transform: translateX(-120%);
   transition: transform .3s linear;
   background-color: #ddd;
   list-style: none;
}

.menu__links.menu__links--open {
    transform: none;
}

.menu__link {
    text-decoration: none;
    line-height: 2;
    color: black;
}

@media (min-width: 1024px) {
    .menu {
        display: flex;
        justify-content: space-between;
    }
    
    .menu__header {
        display: block;
    }
    
    .menu__button {
        display: none;
    }
    
    .menu__links {
        display: flex;
        position: relative;
        transform: translateX(0);
        transition: none;
        width: auto;
     }

     .menu__link {
        margin: 0 20px;
    }
}